version: '3.3'

services:
  dc-frontend:
    image: dc-frontend
    container_name: dc-frontend
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.frontend
    ports:
      - 5000:433
      - 5000:80
  dc-backend:
    image: dc-backend
    container_name: dc-backend
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.backend
    ports:
      - 4444:4444
    environment:
      - PORT=4444
      - HOST=0.0.0.0
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dc-backend.rule=(Host(`dc-clone.kacperhemperek.com`) && PathPrefix(`/api`))"
      - "traefik.http.routers.dc-backend.entrypoints=websecure"


  traefik:
    image: traefik:v2.10
    container_name: dc-traefik
    command: --api.insecure=true --providers.docker
    ports:
      - 80:80
      - 8080:8080
      - 433:433
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/ssl/:/letsencrypt/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dc-traefik.rule=(Host(`dc-clone.kacperhemperek.com`) && PathPrefix(`/traefik`))"
